
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryNotFound</title>
</head>
<body>
    <h2>La categoría solicitada no ha sido encontrada</h2>
</body>
</html>
