
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
</head>
<body>
    <div> 
        <h2>Categories</h2>
        @Html.Action("_CategoryList", "Category", new { n = 2 })
    </div>
</body>
</html>
